﻿@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Quicksand:700,400);

html, body {
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 3vw;
	color: #515151;
	background-color: #ebebeb;
}

.centerContent {
	position: relative;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.linkMarker {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

.hidden {
	display: none;
}

main {
	padding: 8vw;
}

h1 {
	color: #088ca5;
	font-size: 5vw;
	font-weight: normal;
	margin-top: 0;
}

nav {
	background-color: #373c3f;
	overflow: hidden;
	color: white;
	font-size: 4vw;
}

	nav > .menuHolder {
		float: left;
		padding: 2.5vw 5vw;
	}

header .menu {
	font-size: 2.5vw;
}

header .menu > li {
	text-transform: uppercase;
}

.burgerButton {
	float: right;
	background-color: #202529;
	width: 12vw;
	height: 10vw;
}

	.burgerButton > svg {
		width: 4vw;
		height: 3vw;
	}

.banner {
	display: block;
	height: 26vw;
	padding: 16vw 10vw;
	font-size: 6vw;
	color: white;
	background-image: linear-gradient(to top left, #078aa4 0%, #19b4c6 100%);
}

	.banner > .domain {
		font-size: 4vw;
		color: #a6d6df;
		margin-top: 4vw;
	}

		.banner > .domain > a {
			margin-left: 41vw;
		}

.slogan {
	overflow: hidden;
	color: #9282a0;
	background-color: #27212c;
}

	.slogan > .text {
		float: left;
		padding: 9.6vw 10vw;
		font-size: 3.2vw;
	}

	.slogan > .linkMarker {
		float: right;
		background-color: #bc3183;
		font-size: 5vw;
		height: 23.4vw;
		width: 20vw;
	}

.slider {
	overflow: hidden;
}

	.slider > * {
		display: block;
		width: 100vw;
	}

	.slider > .linkMarker {
		height: 86vw;
		background-color: #5b0fa1;
		font-size: 12vw;
	}

@media only screen and (max-width: 979px) {
	.menuHolder > .menu {
		background-color: #202529;
		position: absolute;
		right: 0;
		top: 10vw;
		width: 100vw;
		margin-top: 0;
		z-index: 1;
	}

		.menuHolder > .menu > li {
			display: block;
			width: 100vw;
			padding: 2.5vw 5vw;
			border-bottom: 1px solid white;
		}
}

@media screen and (min-width: 980px) {
	.burgerButton {
		display: none;
	}

	.menuHolder > .hint {
		display: none;
	}

	.menuHolder > .menu {
		margin: 0;
		display: block;
		overflow: hidden;
	}

	.menu > li {
		font-size: 2vw;
		display: block;
		float: left;
		margin-right: 5vw;
	}

	.slider > * {
		display: block;
		width: 33.33%;
		float: left;
		height: 28.8vw;
	}

	.slider > .linkMarker {
		height: 28.8vw;
	}

	p {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 5vw;
		-moz-column-gap: 5vw;
		column-gap: 5vw;
		font-size: 1.5vw;
	}

	h1 {
		font-size: 3vw;
	}
}

