﻿body {
	width: 200px;
	margin: 200px auto;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 14px;
}

.authForm input { 
	width: 100%;
	margin-bottom: 10px;
}

.preloader {
	text-align: center;
}

.hide {
	display: none;
}

.error {
	color: red;
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0px;
}

div[data-role=json-request-user-profile] {
	text-align: center;
}

.avatar img {
	width: 120px;
}

.name {
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
}

.hobbies {
	font-style: italic;
	margin: 10px 0;
}