@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700,300italic,400italic,500italic,600italic,700italic|Open+Sans:400,600,700,300,300italic,400italic,600italic,700italic);

html, body {
	font-family: 'Raleway';
	font-size: 14px;
	margin: 0;
}

header {
	height: 650px;
	background-image: url(../images/header-bg.jpg);
	color: white;
	padding: 50px 0;
}

main {
	min-height: 250px;
}

footer {
	background-color: #3a3e64;
	color: white;
	text-align: center;
}

header, main, footer, .works {
	min-width: 1170px;
}

.menu {
	height: 70px;
	border-bottom: 1px solid #50536a;
}

.contacts {
	height: 180px;
	padding: 60px 0 0;
}

	.contacts > div {
		float: left;
		width: 280px;
		margin: 0 45px;
	}

		.contacts > div strong {
			color: white;
			text-transform: uppercase;
			font-weight: 500;
		}

address {
	font-style: normal;
}

.copyright {
	height: 35px;
	background-color: #313454;
	padding: 30px 0;
	text-align: center;
	color: gray;
}

	.copyright > span {
		color: red;
	}

		.copyright > span.name {
			color: white;
			font-family: 'Open Sans';
		}

.contentWidth {
	width: 1110px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}

.clear {
	clear: both;
}

nav.root {
	float: right;
}

	nav.root > a {
		font-size: 13px;
		font-weight: 500;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;
		margin-left: 60px;
		margin-top: 10px;
	}

.teaser {
	width: 930px;
	text-align: center;
	font-size: 22px;
	margin: 0 auto;
	padding-top: 50px;
}

	.teaser .tease {
		font-family: 'Open Sans';
		font-size: 65px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	.teaser button {
		color: white;
		background-color: #e84545;
		font-size: 13px;
		text-transform: uppercase;
		border-radius: 3px;
		border: 0;
		padding: 15px 40px;
		margin-top: 50px;
	}

.benefits {
	padding-top: 50px;
}

	.benefits > div {
		width: 320px;
		height: 200px;
		text-align: center;
		display: inline-block;
		margin: 30px 23px;
	}

		.benefits > div > strong {
			color: black;
			text-transform: uppercase;
		}

		.benefits > div > .benefitIcon {
			height: 90px;
			width: 90px;
			background-image: url(../images/icons.png);
			margin: 0 auto;
		}

.desc {
	color: #6c7279;
	line-height: 21px;
}

.offset-x1 {
	background-position: 0 100%;
}

.offset-x2 {
	background-position: 0 200%;
}

.offset-x3 {
	background-position: 0 300%;
}

.offset-x4 {
	background-position: 0 400%;
}

.offset-x5 {
	background-position: 0 500%;
}

.works {
	padding-top: 50px;
	overflow: hidden;
}

	.works > img {
		float: left;
		box-sizing: border-box;
		border: 1px solid white;
		width: 25%;
	}

.staff {
	padding-top: 50px;
	margin: 0 auto;
}

.staff > div {
	width: 255px;
	margin: 40px 25px 130px 0;
	display: inline-block;
}

.staff > div > img {
	width: 100%;
}

.staff > div:last-child {
	margin-right: 0;
}

.staff > div > a.employeeName {
	font-size: 22px;
	text-decoration: none;
	color: black;
	display: block;
	margin-top: 20px;
}

.staff > div .appointment {
	text-transform: uppercase;
	font-size: 13px;
	color: red;
	margin-top: 7px;
}

.staff > div > .socialButtons > a {
	width: 36px;
	height: 36px;
	border: 1px solid #c6cacc;
	background-image: url(../images/socialButtonsW.png);
	display: inline-block;
	margin-right: 5px;
}

.staff > div > .socialButtons > .twitter {
	background-position: 74px 0;
}

.staff > div > .socialButtons > .li {
	background-position: 38px 0;
}


footer .socialButtons > a {
	width: 38px;
	height: 38px;
	border: 2px solid white;
	border-radius: 2px;
	background-image: url(../images/socialButtons.png);
	display: inline-block;
	margin-right: 5px;
}

footer .socialButtons > .twitter {
	background-position: 75px 0;
}

footer .socialButtons > .li {
	background-position: 37px 0;
}